streamlit
pandas
requests
selenium
pyproj
python-dotenv
google-generativeai
langchain<0.2.0
langchain-google-genai
langchain-community
chromadb<0.5.0
pypdf
geopandas<0.15.0
shapely>=2.0.0,<2.1.0
sentence-transformers
geopy